mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

/* .label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
} */

.backgroundwrapper{
  background-image: url(https://t2.gstatic.com/images?q=tbn:ANd9GcRW_z1R2c6mJuNDGJHYRYgC1qvrrQV34ewu_cRR5XXt9FmOZTsu);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 15%;
  height: auto;
  min-height: 500px;
  height: 1000px;
}
