@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0 auto;
  background-color: rgb(250, 250, 250);

}

.example-form{
  margin: 0 auto;
  width: 1000px;
  padding: 30px 50px;
  border: 1px solid rgba(0,0,0,.03);
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.mat-button.mat-accent {
  background-color: #ff4081;
  color: #fff
}

mat-form-field,mat-radio-button {
  padding-right: 15px
}

/* When the input is not focused */
md-input-container label {
  color: red;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: blue;
}
