<div class="example-form">
  <mat-card>

    <mat-horizontal-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Plan</ng-template>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Details</ng-template>
          <!-- <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button color="accent" matStepperPrevious>Back</button>
            <button mat-button color="accent" matStepperNext>Next</button>
          </div> -->
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
    <mat-card-content>
      <app-benefits-table></app-benefits-table>
    </mat-card-content>

    <mat-card-actions><button mat-button color="accent" routerLink="/">Back to Quote</button></mat-card-actions>
  </mat-card>
</div>
